@model LuminousStudio.Models.TiffanyLamp.TiffanyLampDeleteVM

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <div class="card shadow-sm border-danger">
        <div class="card-header bg-danger text-white">
            <h3 class="mb-0">Are you sure you want to delete this lamp?</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.TiffanyLampName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TiffanyLampName)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.ManufacturerName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ManufacturerName)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.LampStyleName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.LampStyleName)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Picture)
                </dt>
                <dd class="col-sm-9">
                    <img src="@Model.Picture" alt="Lamp Image" class="img-thumbnail" style="max-height: 150px;" />
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Discount)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Discount)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Confirm Delete
                    </button>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left-circle"></i> Back to List
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}